{% extends "base.html" %}

{% block title %}
  Message Board
{% endblock title %}

{% block content %}
  <div class="container">
    <p>
      <h2>Message board</h2>
      <ul>
        {% for message in messages %}
          <div class="card">
            <div class="card-body">
              <h5>
                · <a href="{{ message.get_absolute_url }}">{{ message.title }}</a> ·
              </h5>
              {{ message.body|truncatewords:30|linebreaks }} · <span class="text-muted">by {{ message.author }} | {{ message.publish }}</span>
              {% if request.user == message.author %}
                <a href="{% url 'message_update' message.pk %}">Update</a> |
                <a href="{% url 'message_delete' message.pk %}">Delete</a>
              {% else %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </ul>
    </p>
  </div>
{% endblock content %}
