{% extends "base.html" %}

{% block title %}Message Board{% endblock title %}

{% block content %}
<div class="container">
  <p>
    <h2>Message board</h2>
    <ul>
      {% for message in page_obj %}
        <div class="card">
          <div class="card-body">
            {{ message.text }} &middot; <span class="text-muted">by {{ message.author }} | {{ message.date }}</span>
              {% if request.user == message.author %}
                <a href="{% url 'message_update' message.pk %}">Update</a> |
                <a href="{% url 'message_delete' message.pk %}">Delete</a> |
              {% else %}
              {% endif %}
          </div>
        </div>
      {% endfor %}
    </ul>
  </p>
</div>
{% endblock content %}
