{% extends "base.html" %}

{% block title %}Message Board{% endblock title %}

{% block content %}
<div class="container">
  <p>
    <h2>Message board</h2>
      {% for message in all_messages_list %}
        <div class="card">
          <div class="card-body">
            {{ message.text }} &middot; <span class="text-muted">by {{ message.author }} | {{ message.date }}</span>
            <a href="{% url 'message_update' message.pk %}">Update</a> |
            <a href="{% url 'message_delete' message.pk %}">Delete</a> |
          </div>
        </div>
      {% endfor %}
  </p>
</div>
{% endblock content %}
